Makefile
*.cmake
*.dylib
*.so
CMakeCache.txt
CMakeFiles
install_manifest.txt
Testing
build
src/cmake_install.cmake
src/libToPS.a
app/tops-*
!app/tops-*.*
src/doxygen.conf
src/doxygen.conf.bak
src/html/
src/latex/
.vscode/
src/tests/tests.o
