model_name="LinearChainCRFModel"
state_names= ("A", "B")
observation_symbols= ("0", "1")
transitions = ("A" | "A": 0.99;
               "A" | "B": 0.01;
               "B" | "A": 0.3;
               "B" | "B": 0.7)
emission_probabilities = ("0" | "A" : 0.5;
                          "1" | "A" : 0.5;
                          "0" | "B" : 0.1;
                          "1" | "B" : 0.9)
initial_probabilities= ("A": 0.5; "B": 0.5)
